@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat+Alternates&family=Montserrat:wght@100;200&family=Righteous&family=Roboto:wght@100;400&family=Urbanist:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.modal-title {
    color: #656668;
    font-weight:600;
}

label {
    color: #000000;
}

.is-invalid {
    border-color: red !important;
}

.modal-header{
    background-color: #039;
}

.modal-title{
    color: white;
}

.btn-close{
    color: white;
    background-color: white;
}

.form-select{
    border: 1px solid #ffdc00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.form-control{
    border: 1px solid #ffdc00;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    margin: 0;
}

.table th{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #039;
    color: white;
}

.table td {
    font-size: 14px;
}

.topproveedor {
    margin: 0;
    padding: 0;
}

.carousel {
    margin: 0;
    background-color: #039;
}

.topproveedor h1{
    margin-bottom: 5%;
}

.tituloproveedor svg{
    margin-top: 0;
}




